aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.11.1
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
certifi==2026.1.4
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.4
constantly==23.10.4
cryptography==46.0.4
daphne==4.2.1
Django==6.0.2
django-ckeditor==6.7.3
django-cors-headers==4.9.0
django-filter==25.2
django-js-asset==3.1.2
django-redis==6.0.0
django-unfold==0.78.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-spectacular-sidecar==2026.1.1
frozenlist==1.8.0
gevent==25.9.1
greenlet==3.3.1
hyperlink==21.0.0
idna==3.11
incremental==24.11.0
inflection==0.5.1
iniconfig==2.3.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
Markdown==3.10.1
MarkupSafe==3.0.3
msgpack==1.1.2
multidict==6.7.1
orjson==3.11.7
packaging==26.0
pillow==12.1.0
pluggy==1.6.0
propcache==0.4.1
psycopg2-binary==2.9.11
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.19.2
PyJWT==2.11.0
pyOpenSSL==25.3.0
pytest==9.0.2
pytest-django==4.11.1
python-dotenv==1.2.1
PyYAML==6.0.3
redis==7.1.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
service-identity==24.2.0
setuptools==81.0.0
sqlparse==0.5.5
twilio==9.10.1
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
websocket==0.2.1
yarl==1.22.0
zope.event==6.1
zope.interface==8.2
